<div class="row">
  <div class="col-xs-12">
    <form>
      <div class="row">
        <div class="col-xs-12">
          <button type="submit" class="btn btn-success">Save</button>
          <button type="button" class="btn btn-danger">Danger</button>
        </div>
      </div>
      <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
              <label for="name">Name</label>
              <input type="text" class="form-control" id="name">
            </div>
          </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="imagePath">ImagePath</label>
            <input type="text" class="form-control" id="imagePath">
          </div>
        </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="form-group">
          <img src="" class="img-responsive">
        </div>
      </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="form-group">
        <label for="description">Description</label>
        <input type="text" class="form-control" id="description">
      </div>
    </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="row">
      <div class="col-xs-8">
        <input type="text" class="form-control" id="name">
      </div>
      <div class="col-xs-2">
        <input type="text" class="form-control" id="amount">
      </div>
      <div class="col-xs-2">
        <button class="btn btn-danger">X</button>
      </div>
    </div>
  </div>
   </div>
    </form>
  </div>
</div>